*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.chat-container{
    display: flex;
    height: 90%;
    gap: 2rem;
    
}

.content-section h2{
    color: white;
}
.students{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0.7rem;
    margin-top: 0.3rem;

}
.student{
    width: 18rem;
    height: 3.5rem;
    background-color: rgb(80, 79, 79);
    border-radius: 0.5rem; 
}

.students p{
    margin-top: 0.8rem;
    margin-left: 0.6rem;
    font-size: 1.3rem;
}
.chat-part{
    width: 90%;
    height: 40%;
    background-color: rgb(44, 43, 43);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.7rem;
    border-radius: 0.6rem;
    box-shadow:  0.1rem 0.1rem 0.7rem #080808;
}
.msg{
    width: 97%;
    margin-left: 1rem;
    border-radius: 0.6rem;
    color: white;
    padding: 1rem;
    background-color: rgba(8, 221, 8, 0.733);
    text-align: end;
}
.left-margin{
    margin-left: 1.2rem;
}
.message{
    display: flex;
}

.message input[type="text"]{
    width: 85%;
    padding: 0.6rem;
    border-radius: 0.5rem;
    background-color: rgb(61, 60, 60);
    margin-left:1.2rem;
}
.message input[type="submit"]{
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
    background-color: rgba(8, 221, 8, 0.733);
    color: white;
    margin-left:0.7rem;
}
