*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

p{
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding:.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
}

header .header-top {
    width: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

header .header-top p {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}
.icon{
    width: 3rem;
    height: 3rem;
    
}

.logout-btn {
    color: white;
    background-color: red;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.7rem;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
}

.logout-btn:hover {
    background-color: darkred;
    transform: scale(1.1);
}


hr {
    border: none;
    height: .2rem;
    background-color: gray;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    width: 100%;
    min-height: 100vh;
}



aside {
    width: 14.7%;
    background: linear-gradient(0deg, rgb(103, 112, 112) 0%, rgba(31, 30, 29, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    transition: width 0.3s ease;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: .5rem;
    left: 1rem;
    z-index: 1100;

}

aside .aside-menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside .menu-item {
    width: 100%;
    padding: 1.2rem;
    color: white;
    background-color: rgb(80, 79, 79);
    border: none;
    border-radius: 0.5rem;
    text-align: left;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    aside {
        width: 0;
        overflow: hidden;
        padding: 0;
        position: fixed;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1000;
        background-color: #222;
        transition: width 0.3s ease-in-out;
    }

    .aside-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: .1rem;
        left: 1.5rem;
        z-index: 1100;
    }

    aside.active {
        width: 60%;
        padding-top: 3rem;
    }

    aside.active .aside-menu {
        display: flex;
    }
    .icon{
        margin-left: 4rem;
        height: 2.4rem;
    }
}


.menu-item.active {
    background-color: #007bff;
    font-weight: bold;
}

.menu-item:hover {
    background-color: #007bff;
    transform: scale(1.05);
}

.vl {
    width:.3%;
    background-color: gray;
}

main {
    flex-grow: 1;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap:2rem;
    background-color: #1e1e1e;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
    background-color:inherit;
}

.title h1 {
    font-weight: bold;
    color: blue;
}

.title p{
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
}

.data-container {
    display: flex;
    flex-direction: column;
}

.data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ensures adaptability */
    gap: 1.5rem;
    width: 100%;
    padding: 1rem;
}

.data-item {
    background-color: rgb(39, 36, 36);
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.data-item:hover {
    transform: scale(1.05);
}

.data-item h3 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.data-item p {
    font-size: 1.8rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .data {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
    }

    .data-item {
        padding: 1rem;
        font-size: 0.9rem;
    }

    .data-item p {
        font-size: 1.5rem;
    }


}

@media screen and (max-width: 480px) {
    .data {
        grid-template-columns: 1fr;
    }

    .data-item {
        padding: 0.8rem;
    }

    .data-item p {
        font-size: 1.3rem;
    }
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:inherit;
    color: #cccccc;
}

#myChart {
    width: 100% ;
    height: 100% ;
}
.chart-container {
    width: 100%;
    margin: auto;
    background-color: rgb(39, 36, 36);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}


.content-section {
    display: none; /* Hide all sections by default */
}

.content-section.active {
    display: block; /* Show active section */
}
.light-background{
    background: #ffffff;
    
}
.dark-background{
    background: #800020 !important;
}
.dark-text{
    color: #1e1e1e !important;
}
.teal-background{
    background: #008080!important;
}
.blue-background:hover{
    background: #007bff!important;
}
.light-text::placeholder{
    color: #f5f3f3 !important;
}







